html{
	overflow-y:hidden;

}
body {
  	background-color:gray;
  	margin:0px;
  	height:100vh;   
    width: 100vw;
    overflow-x:hidden;
    overflow-y:hidden;

    

}

:root{
	--LargeText: 6vw;
	--MediumText: 4vw;
	--SmallText: 2vw;
}

@font-face {
  font-family: 'ImpactWeb';
  src: url('fonts/impact.ttf'); /* IE9 Compat Modes */
  src: url('fonts/impact.ttf')  format('truetype'),
  	url('fonts/impact.woff')  format('woff')}

/* Header */

#TopHeader{
	top: 0;
	height:7.5vh;
	width: 100%;
	padding:0px;
	backdrop-filter: blur(40vw);
	-webkit-backdrop-filter: blur(40vw);
	/*-webkit-filter: blur(5px);
 	-moz-filter: blur(5px);
 	-ms-filter: blur(5px);
 	-o-filter: blur(5px);
 	filter: blur(5px);
 	*/
 	position:fixed;
 	background-color:rgba(20, 20, 20, 0.7);

 	
 	
}

#TopLogo{
	width:auto;
	height:6vh;
	float:left;
	margin:.4vh;
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top:.6vh;
	user-select: none;
	
}
#Title{
	width:auto;
	float:left;
	height:5vh;
	margin-top:1.3vh;
	user-select: none;
	
		
}

#Navigation{
	height:7vh;
	display: flex;
	justify-content: center;
  	align-items: center;
  	align-self:center;
	float:right;


	
}


#N_Home, #N_PC, #N_Team, #N_Contact{
	display: flex;
	font-size:2.7vh;
	font-weight: 450;
	float:left;
	width:auto;
	padding: 0 1vw 0 1vw ;
	margin-right:5vw;
	top: 50%; /* Position text in the middle */
  	left: 50%; /* Position text in the middle */
	font-family:ImpactWeb, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	background-color:white;
	color: black;
	letter-spacing: .15vw;
	border-radius:.7vw;
	/*
	mix-blend-mode: screen; 
	*/
	user-select: none;
	text-decoration: none;

}

#N_Home:hover, #N_PC:hover, #N_Team:hover, #N_Contact:hover{
	background-color:black;
	color: white;
	cursor: pointer;
}




/* Social Bar */

#SocialSites{
	position:fixed;
	float:right;
	height:5vh;
	width:14.9vh;
	background-color:white;
	margin-top:93vh;
	margin-left:90vw;
}
#Instagram, #Twitter, #Youtube{
	width:4.5vh;
	height:4.5vh;
	margin:.22vh;
	float:left;
	user-select: none;
	cursor: pointer;
}


/* ---------- Content ---------- */

#Container{
	height:100vh;
	width:100vw;
  	scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
	scrollbar-width: none;  /* Firefox */
	-webkit-overflow-scrolling: touch;

    

}

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    width:100vw;
	height:100vh;
	justify-content: center;
	align-items: center;
	background-size: cover;	
	background-position: center;
	
	
}

#Image1{
	background-image:url('images/testpc7.jpg');
}
#Image2{
	background-image:url('images/testpc.jpg');
}
#Image3{
	background-image:url('images/testpc10.jpg');
}
#Image4{
	background-image:url('images/testimage.jpg');
}



#Text1{
	text-align:center;
	font-size:var(--LargeText);
	font-weight: 250;
	font-family:ImpactWeb, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	margin: 0 5vw 0 5vw;
}


/* ----- General Classes ----- */

img {
    max-width: 100%;
    max-height: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rotate180{
	transform: rotate(180deg);
}
.fade-in {
animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
-moz-animation: fadeIn ease 1s;
-o-animation: fadeIn ease 1s;
-ms-animation: fadeIn ease 1s;
}
.gentext{
	background-color:rgba(20, 20, 20, 0.6);
	border: .4vw solid;
	border-color:white;
}  	
.gentext p{
	margin:1vw 2vw 1vw 2vw;
	color:white;
	pointer-events: auto; 
	
}

/* ----- Screen size check ----- */

@media only screen and (max-aspect-ratio: 15/10) {

#SocialSites{
	position:fixed;
	float:right;
	height:14.8vh;
	width:5vh;
	background-color:white;
	margin-top:68vh;
	margin-left:87vw;
	
}
#Instagram, #Twitter, #Youtube{
	width:4.5vh;
	height:4.5vh;
	margin:.22vh;
	background-color:yellow;
	float:left;
}

#N_Home, #N_PC, #N_Team, #N_Contact{
	font-size:2.6vw;
	
		
}

}
@media only screen and (max-aspect-ratio: 20/20) {
	#TopHeader{
		height:14vh;
		
	}
	#N_Home, #N_PC, #N_Team, #N_Contact{
		font-size:4.5vw;
		margin-right:4vw;
		
	}
	:root{
	--LargeText:10vw;
	}

}

/* ----- Firefox \ Blur check ----- */

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
	#TopHeader{ 
		background-color:transparent;
	}
	#Container{
		scrollbar-width: auto;
	}

	

}
/* ----- Animations ----- */

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
