html{
    overflow-y: scroll;
}
body {
  	background-color:gray;
  	margin:0px;
  	overflow-x: hidden;
  	overflow-y: hidden;
    height:100vh;
    
}

#TopHeader{
	height:7.5vh;
	width:100%;
	padding:0px;
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	/*-webkit-filter: blur(5px);
 	-moz-filter: blur(5px);
 	-ms-filter: blur(5px);
 	-o-filter: blur(5px);
 	filter: blur(5px);
 	*/
 	position:fixed;
 	background-color:rgba(20, 20, 20, 0.7);
 	
}

#TopLogo{
	width:auto;
	height:6vh;
	float:left;
	margin:.4vh;
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top:.6vh;
	
}
#Title{
	width:auto;
	float:left;
	height:5vh;
	margin-top:1.3vh;
	
		
}

#Navigation{
	height:3.5vh;
	margin-top: 2vh;
	margin-right:6vh;
	float:right;
	
}

#N_Home, #N_PC, #N_Team, #N_Contact{
	font-size:2.7vh;
	float:left;
	width:auto;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	margin-left:5vw;
	margin-top:0vh;
	text-shadow: -.1vh .1vh 0 #FFFFFF,
				  .1vh .1vh 0 #FFFFFF,
				 .1vh -.1vh 0 #FFFFFF,
				-.1vh -.1vh 0 #FFFFFF;
	
}

#Container{
	scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    height:100vh;
    overflow-y: scroll;
    overflow-x:hidden;
    max-width: 100vw;
    width: 500vw;

}

.section {
    scroll-snap-align: start;
    display: flex;
    min-width:100vw;
	height:100vh;
	justify-content: center;
	
	
}
.section img{
	width: 100%;
  	height:100%;
  	object-fit:cover; 
}

#SocialSites{
	position:fixed;
	float:right;
	height:5vh;
	width:14.9vh;
	background-color:white;
	margin-top:93vh;
	margin-left:90vw;
}
#Instagram, #Twitter, #Youtube{
	width:4.5vh;
	height:4.5vh;
	margin:.22vh;
	background-color:yellow;
	float:left;
}



img {
    max-width: 100%;
    max-height: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rotate180{
	transform: rotate(180deg);
}


@media only screen and (max-aspect-ratio: 15/10) {

#SocialSites{
	position:fixed;
	float:right;
	height:14.9vh;
	width:5vh;
	background-color:white;
	margin-top:75vh;
	margin-left:87vw;
	
}
#Instagram, #Twitter, #Youtube{
	width:4.5vh;
	height:4.5vh;
	margin:.22vh;
	background-color:yellow;
	float:left;
}

#N_Home, #N_PC, #N_Team, #N_Contact{
	font-size:2.4vh;
	margin-left:3.9vw;
	margin-top:0vh;
		
}

}
@media only screen and (max-aspect-ratio: 17/20) {
	#TopHeader{
		height:14vh;
		
	}

}


@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
	#TopHeader{ 
		background-color:transparent;
	
	}

}
